body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.homepage {
  margin-top: 50px;
  text-align: center;
}
.list {
  display: flex;
}
.item-card {
  border: 0.5px solid darkorange;
  padding: 5px;
  margin: 5px;
  width: 400px;
  flex-grow: 3;
}
.item-card a {
  text-decoration: none;
  color: black;
}
.item-img {
  width: 100%;
}
button {
  margin: 20px;
}
